
<main>
    <div class="accordion" id="accordionPanelsStayOpenExample">
        {{#each experience}}
            <div class="accordion-item">
                <h2 class="accordion-header" id="panelsStayOpen-heading{{id}}">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#panelsStayOpen-collapse{{id}}" aria-expanded="true"
                            aria-controls="panelsStayOpen-collapse{{id}}">
                        {{{title}}} ({{{dateFormat start_date "Y"}}} - {{#if end_date}} {{{dateFormat
                            end_date
                            "Y"}}} {{else}}
                        Actualidad{{/if}})
                    </button>
                </h2>
                <div id="panelsStayOpen-collapse{{id}}" class="accordion-collapse collapsed collapse"
                     aria-labelledby="panelsStayOpen-heading{{id}}">
                    <div class="accordion-body">
                        {{{description}}}

                        <div class="my-3">
                            <a href="/experience/delete/{{id}}" class="btn btn-sm btn-secondary"
                            ><i class="fa fa-trash"></i>Delete</a>
                            <a href="/experience/edit/{{id}}" class="btn btn-sm btn-secondary">
                                <i class="fa fa-pencil">Edit</i></a>
                        </div>
                    </div>
                </div>
            </div>
        {{/each}}
    </div>
    <div class="m-2">
        <a href="/experience/add" class="btn btn-success">
            <i class="fa fa-plus">New</i>
        </a>
    </div>
</main>