<main>
    <section>
        <div class="container-fluid d-inline-flex justify-content-around flex-wrap">
            {{#each projects}}
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-md-4">
                        {{#if image}}{{{image}}}{{else}}<img src="/images/projects/noimage.jpg"
                             class="img-fluid rounded-start" alt="...">{{/if}}
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">{{{title}}}</h5>
                            <p class="card-text">{{{description}}}</p>
                            <a href="/projects/delete/{{id}}" class="btn btn-sm btn-secondary"
                            ><i class="fa fa-trash"></i>Delete</a>
                            <a href="/projects/edit/{{id}}" class="btn btn-sm btn-secondary">
                                <i class="fa fa-pencil"></i>Edit
                            </a>
                        </div>
                        <div class="github-link"><a href="{{repository}}"><i class="bi bi-github"></i></a>
                            {{#if site}}<a href="{{site}}"><i class="bi bi-globe-americas"></i></a>{{/if}}
                        </div>

                    </div>
                </div>
            </div>
            {{/each}}
        </div>
        <div class="m-2">
            <a href="/projects/add" class="btn btn-success">
                <i class="fa fa-plus"></i>New
            </a>
        </div>
    </section>
</main>