<main>
    <div class="accordion" id="accordionPanelsStayOpenExample">
        <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true"
                        aria-controls="panelsStayOpen-collapseOne">
                    Educación Universitaria
                </button>
            </h2>
            <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show"
                 aria-labelledby="panelsStayOpen-headingOne">
                <div class="accordion-body">
                    <dl>
                        <dt>
                            {{{edu_uni.title}}} ({{{dateFormat edu_uni.start_date "Y"}}} - Actualidad)
                        </dt>
                        <dd>
                            {{{edu_uni.description}}}
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false"
                        aria-controls="panelsStayOpen-collapseTwo">
                    Educación Terciaria
                </button>
            </h2>
            <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse"
                 aria-labelledby="panelsStayOpen-headingTwo">
                <div class="accordion-body">
                    <dl>
                        <dt>
                            {{{edu_terciaria.title}}} ({{{dateFormat edu_terciaria.start_date "Y"}}} - {{{dateFormat edu_terciaria.end_date "Y"}}})
                        </dt>
                        <dd>
                            {{{edu_terciaria.description}}}
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false"
                        aria-controls="panelsStayOpen-collapseThree">
                    Educación Secundaria
                </button>
            </h2>
            <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse"
                 aria-labelledby="panelsStayOpen-headingThree">
                <div class="accordion-body">
                    <dl>
                        <dt>
                            {{{edu_secundaria.title}}} ({{{dateFormat edu_secundaria.start_date "Y"}}} - {{{dateFormat edu_secundaria.end_date "Y"}}})
                        </dt>
                        <dd>
                            {{{edu_secundaria.description}}}
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
</main>
