<main>
    <div class="accordion" id="accordionPanelsStayOpenExample">
        <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true"
                        aria-controls="panelsStayOpen-collapseOne">
                    Educación Universitaria
                </button>
            </h2>
            <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse collapsed"
                 aria-labelledby="panelsStayOpen-headingOne">
                <div class="accordion-body">
                    {{#each education}}
                        {{#if (isuniversitary type)}}
                            <dl>
                                <dt>
                                    {{{title}}} ({{{dateFormat start_date "Y"}}} - {{#if end_date}} {{{dateFormat
                                        end_date
                                        "Y"}}} {{else}}
                                    Actualidad{{/if}})
                                </dt>
                                <dd>
                                    {{{description}}}
                                </dd>
                            </dl>
                            <a href="/education/delete/{{id}}" class="btn btn-sm btn-secondary"
                            ><i class="fa fa-trash"></i>Delete</a>
                            <a href="/education/edit/{{id}}" class="btn btn-sm btn-secondary">
                                <i class="fa fa-pencil">Edit</i>
                            </a>
                        {{/if}}
                    {{/each}}
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false"
                        aria-controls="panelsStayOpen-collapseTwo">
                    Educación Terciaria
                </button>
            </h2>
            <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse"
                 aria-labelledby="panelsStayOpen-headingTwo">
                <div class="accordion-body">
                    {{#each education}}
                        {{#if (isterciary type)}}
                            <dl>
                                <dt>
                                    {{{title}}} ({{{dateFormat start_date "Y"}}} - {{#if end_date}} {{{dateFormat
                                        end_date
                                        "Y"}}} {{else}}
                                    Actualidad{{/if}})
                                </dt>
                                <dd>
                                    {{{description}}}
                                </dd>
                            </dl>
                            <a href="/education/delete/{{id}}" class="btn btn-sm btn-secondary"
                            ><i class="fa fa-trash"></i>Delete</a>
                        <a href="/education/edit/{{id}}" class="btn btn-sm btn-secondary">
                            <i class="fa fa-pencil">Edit</i></a>
                        {{/if}}
                    {{/each}}
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false"
                        aria-controls="panelsStayOpen-collapseThree">
                    Educación Secundaria
                </button>
            </h2>
            <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse"
                 aria-labelledby="panelsStayOpen-headingThree">
                <div class="accordion-body">
                    {{#each education}}
                        {{#if (isschool type)}}
                            <dl>
                                <dt>
                                    {{{title}}} ({{{dateFormat start_date "Y"}}} - {{#if end_date}} {{{dateFormat
                                        end_date
                                        "Y"}}} {{else}}
                                    Actualidad{{/if}})
                                </dt>
                                <dd>
                                    {{{description}}}
                                </dd>
                            </dl> 
                        <a href="/education/delete/{{id}}" class="btn btn-sm btn-secondary"
                        ><i class="fa fa-trash"></i>Delete</a>
                        <a href="/education/edit/{{id}}" class="btn btn-sm btn-secondary">
                            <i class="fa fa-pencil">Edit</i></a>
                        {{/if}}
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
    <div class="m-2">
        <a href="/education/add" class="btn btn-success">
            <i class="fa fa-plus">New</i>
        </a>
    </div>
</main>
